<!-- 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greenaware</title>
    <link rel="stylesheet" href="../../css/styleshome.css">
</head>
<body>
    
    <main>
        <section class="hero">
            <h1>Greenaware</h1>
            <a href="/register" class="button">Register</a>
            <a href="/login" class="button">Login</a>
            
        </section>
        
        
    </main>
    <footer>
        Add your footer content here
    </footer>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greenaware</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <link rel="stylesheet" href="../../css/styleshome.css">
    
</head>
<body>
    <main>
        <section class="hero">
            <h1>Greenaware</h1>
            <a href="/register" class="button">Register</a>
            <a href="/login" class="button">Login</a>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Greenaware. All rights reserved. | <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
    </footer>
</body>
</html>
