<!-- <div class="menu_bar_horizontal">
    <ul class="btn-group_horizontal">
        <li class="menu_item">
            <a href="/observer/message_menu">Message Support</a>
        </li>
        <li class="menu_item">
            <a href="/observer/view_details1">View Details</a>
        </li>
        <li class="menu_item">
            <a href="/observer/change_details">Change Details</a>
        </li>
        <li class="menu_item">
            <a href="/logout">Logout</a>
        </li>
    </ul>
</div> -->

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/observer/observer_menu">Observer Dashboard</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="container" id="container2">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li>
                    <a class="nav-link" href="/observer/view_amendDetails">View Details</a>
                </li>

                <li>
                    <a class="nav-link" href="/observer/message_support">Message Support</a>
                </li>
                    
                <li>
                    <a class="nav-link" href="/changepasswordob">Security Options</a>
                </li>

                <li>
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>