<!-- <div class="menu_bar_horizontal">
    <ul class="btn-group_horizontal">
        <li>
            <a href="../">Login</a>
        </li>
        <li>
            <a href="/users/getusers">View Users</a>
        </li>
        <li>
            <a href="/users/adduser">Register User</a>
        </li>
        <li>
            <a href="/users/queryuserbyid">Query User</a>
        </li>
        <li>
            <a href="/users/updateuser">Update User</a>
        </li>
        <li>
            <a href="/users/deleteuserbyid">Delete User</a>
        </li>
    </ul>
   </div> 

    -->


    <!-- <div class="menu_bar_horizontal">
        <ul class="btn-group_horizontal">
            
            <li class="menu_item">
                <a href="/users/getusers">View Users</a>
            </li>
            <li class="menu_item">
                <a href="/users/adduser">Register New User</a>
            </li>
            <li class="menu_item">
                <a href="/users/queryuserbyid">View User</a>
            </li>
            <li class="menu_item">
                <a href="/users/updateuser">Update User</a>
            </li>
            <li class="menu_item">
                <a href="/users/deleteuserbyid">Delete User</a>
            </li>
            <li class="menu_item">
                <a href="/changepassword">Security Options</a>
            </li>
            <li class="menu_item">
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </div> -->
    


    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <a class="navbar-brand" href="/users/userhome">Support Dashboard</a>
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="container" id="container2">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li>
                        <a class="nav-link" href="/users/adduser">Register New User</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/users/getusers">View Users</a>
                    <li>
                    <li>
                        <a class="nav-link" href="/users/queryuserbyid">View User</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/users/updateuser">Update User</a>
                    <li>
                        <a class="nav-link" href="/users/deleteuserbyid">Delete User</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/users/message_system">Messages</a>
                    </li>

                    <li>
                        <a class="nav-link" href="/changepassword">Security Options</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>